<div class="col-12 footer" >
        
        <nav class="navbar2 navbar-expand-lg2 navbar-light2">
        
            <!-- hoofdnavigatie -->
            <div class="collapse2 text-center navbar2" id="navbarSupportedContent">
              <ul class="navbar-nav2 mr-auto">
                  {% assign links = site.data.navigation %}
                  {% for link in links %}
                      {% assign class = nil %}
                      {% if link.url contains page.url %}
                          {% assign class = ' active' %}
                      {% endif %}
                      {% if link.sublinks %}
                      <li class="nav-item dropdown {{ class }}">
                          <a href="{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle {{ class }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              {% for sublink in link.sublinks %}
                                      <li class="dropdown-item">
                                          <a class="nav-link{{ class }}" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                      </li>
                              {% endfor %}
                          </ul>
                      </li>
                      {% else %}
                              <a class="nav-link2{{ class }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                      {% endif %}
                  {% endfor %}
              </ul>
            </div>
          </nav>
          
        </div>
        