
/*TYPOGRAFIE*/
p,
.tekst{
    font-family: 'Lato';
    font-weight: 300 !important;
    font-size:1.1rem;
    }

h2{
    font-size: 1.3rem;
    font-family: 'Lato';
    font-weight: 400 !important;
    color: $darkgreen;
    }

h3{
    font-family: 'Lato';
    font-weight: 300 !important;
    }

.groenep{
    color: $darkgreen;
    }

.onderschrift{
    font-size:0.8rem;
    margin: 40px 0px 30px 0px;
    }

.tekstpulmino{
    color: $darkgreen;
    text-align: center;
    margin-top: 30px;
    margin-bottom:60px;
    }

.opening,
.betaling{
    font-style: italic;
    margin-bottom: 25px;
    }

/*VARIA*/
.center{
    text-align: center;
    }

/*groene knoppen*/
.btn{
    width: 230px;
    border-radius: 2em;
    margin-top: 30px;
    margin-bottom: 100px;
    color: white;
    font-size: 1rem;
    }

.btn:hover{
    color: white;
    }

.iconenhome{
    height: 80px;
    margin-bottom: 20px;
    }

.iconeninfo{
    height: 70px;
    margin-bottom: 20px;
    }

.grijzekader{
    background-color: rgb(235, 235, 235);
    }

a:link{
    text-decoration: none;
    }

.weg{
    opacity: 0.9;
    margin-top:30px;
    margin-bottom:30px;
    }

.fotobevestiging{
    opacity: 0.8;
    margin-top:30px;
    margin-bottom:30px;
    }

.titel {
    margin-bottom: 30px;
    }

.gmap {
    -webkit-filter: grayscale(100%);
    opacity: 0.8;

    }

/* SELECTIE */
.checkbox:hover {
    color:$darkgreen;
    }

/* andere vakjes weg en vervagen  */
input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    }

/* vakjes */
input[type=checkbox]+label:before {
    height: 20px;
    width: 20px;
    border-radius: 0.2em;
    margin-right: 20px;
    margin-left:80px;
    content: " ";
    display: inline-block;
    border: 1px solid rgb(194, 194, 194)
    }

/* inkleuring vakjes */
input[type=checkbox]:checked+label:before {
    background: $darkgreen;
    }

.table th, .table td {
    border-top: 1px solid #ffffff;
    }

.form-control {
    display: block;
    width: 100%;
    padding: 0.2rem ;
    }

.aantaldagen{
    padding: 0.2rem ;
    margin-left:20px; 
    }


.banken{
    width: 75px;
    margin-bottom:10px;
    }
input[type="date"] {
    width: 100%;
    }

.pijl{
    position: absolute;
    }
/***********************************************************/

.header {
    padding: 30px 0;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #bbb;
    }


/* Vakjes betalen **********************************************************/

.button {
    position: relative;
    border-bottom: $darkgreen;
    background: #fafafa;
    cursor: pointer;
    margin-bottom:20px;
    }

/***Bolletjes***/
.button:after {
  content: '';
    position: absolute;
    top: 15px;
    left: 18px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 7px #fff;
    background: #fff;
    }

  .button {
    float: left;
    width: 140px;
    height: 180px;
    margin-right: 20px;
    padding: 50px 0 0;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    border: 0;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #bbb;
    }

  .button:after {
    top: 15px;
    left: 60px;
    }
  .lijntje {
    border: 1px solid $darkgreen;
    width: 50px;
    margin-bottom: 5%;
    border-radius: 1rem;
    }

#date {
    color: $darkgreen;
    border-radius: 0.5rem;
    border: 0.5px solid rgb(194, 194, 194);
    padding: 2%;
}





// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  
    .mobiledn{
        display: none;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 400px) { 
    .tekstpulmino{
        margin-top: 70px;
        }
    .tabletdn{
        display: none;
        }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .desktopdn{
        display: none;
        }
    .gegevens {
        margin-left: 70px;
        margin-top:30px;
        }
    .gmap{
        margin-left: 80px;
        margin-right: 80px;
        }
    .fotospgpulmino {
        height: 250px;
        opacity: 0.8;
        }
    .btn{
        width: 300px;
        }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .desktopdn{
        display: none;
        }
 }
