
.fixed-bottom {
    position: static;
    }

 .footer {
    background:$primary;
    position: relative;
    }

.footertekst {
    color:white;
    }

.pijl{
    margin-top: 80px;
    margin-bottom: 20px;
    }

.socialmedia{
    margin-right: 10px;
    margin-left: 10px;
    }