

@media (min-width: 576px) {
/* NAV*/
.navbar-light .navbar-nav .nav-link.active {
      color:$primary;
      }
.navbar-light .navbar-nav .nav-link.hover {
      font-size: 2rem;
      font-weight: 400;
      }
.navbar-light .navbar-nav .nav-link {
      color:$primary;
            }
.navbar {
      text-align:center;
      padding:none;
      }
.navbar-header {
      display:none; 
      }
.navbar-nav {
      float: none;
      }
.navbar-nav-brand {
      display:block !important;
      }
.nav-item{
      margin:25px;
      }
.invers-navbar{
      font-size: 5rem;
      }
.navbar-nav {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      }

}


.logo {
      height: 180px;
      margin: 0 auto;
      display:block;
      margin-top:20px;
      }

.collapse{
      font-size:1.5rem;
      font-family: 'Lato';
      font-weight: 300 !important;
      margin: 0 auto;
      word-spacing: 60px;
      }

.nav_footer{
      font-size:0.5rem;
      font-family: 'Lato';
      font-weight: 400 !important;
      margin: 0 auto;
      word-spacing: 60px;
      border: 1px solid black;
      }

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
      .navbar-expand-lg .navbar-nav {
          flex-direction: row;
      }
      .navbar-nav {
          width: 100%;
      }
      .mr-auto, .mx-auto {
          margin-right: auto !important;
      }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

@media (min-width: 992px){
}




