<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
</head>

<body>
    <A NAME="boven">
<div class="container">
  <div class="row ">
    <div class="col-12">
        <a href="{{ site.baseurl }}/index.html"><img class="logo " src="{{ site.baseurl }}/assets/image/logo.png"></a>
    </div>
  </div>
</div>

{% include navbootstrap.html %}

<br>
<div class="container">
  <div class="row">
    {{content}}
  </div>
</div>


{% include footer.html %}

<div class=" center">
    <A HREF="#boven" > <img class="logo iconenhome" src="{{ site.baseurl }}/assets/image/pijl.png">
        </img>
    </A>   
</div>
{% include navbootstrap.html %}
{% include scripts-bottom.html %}
</body>
</html>